<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing View</title>
  </head>
  <body>
    <h1>The website</h1>
    <h2>Query</h2>
    <form action="http://localhost:3000/ask" method="post">
      <input name="query" />
      <input name="test" value="test" hidden />
      <button type="submit">Submit</button>
    </form>
    <h2>Result</h2>
    <p><%= locals.result || 'Have no result'%></p>
  </body>
</html>
